body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family-serif);
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  grid-column: 1 / -1;
  height: 4rem;
  width: 4rem;
  background-color: var(--color-primary);
}

#navigation {
  grid-column: 1 / -1;
  justify-self: end;
  align-self: center;
  display: flex;
  gap: 1rem;
}

#main {
}

#footer {
}
