:root {
  /* Colors */
  --color-text: #333333;
  --color-background: #fbf8ec;
  --color-light: silver;
  --color-primary: #7950f2;

  /* Spacing and units */
  --unit: 1rem;

  /* Fonts */
  --font-family-serif: Merriweather, Times, serif;
  --font-family-sans-serif: Arial, -apple-system;

  @media (prefers-color-scheme: dark) {
    --color-text: #fbf8ec;
    --color-background: #222;
  }
}
