.layout-grid {
  --grid-column-offset: 5rem;
  --content-target-width: 70ch;
  --remaining-for-narrow: calc(var(--content-target-width) - 2 * var(--grid-column-offset));

  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --feature: minmax(0, var(--grid-column-offset));
  --breakout: minmax(0, var(--grid-column-offset));
  --content: minmax(0, var(--grid-column-offset));
  --narrow: min(var(--remaining-for-narrow), 100% - var(--gap) * 2);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [breakout-start] var(--breakout)
    [content-start] var(--content)
    [narrow-start] var(--narrow) [narrow-end]
    var(--content) [content-end]
    var(--breakout) [breakout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

/* pass down the grid information */
.layout-grid--forward {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

/* layout: default to content  */
.layout-grid > *:not(.layout-grid--forward),
.layout-grid--forward > *:not(.layout-grid--forward) {
  grid-column: content;
}

[class^="l-"] {
  display: grid;
  grid-template-columns: subgrid;
}

/* layout: content */
.l-content {
  grid-column: content;
}

/* layout: breakout */
.l-breakout {
  grid-column: breakout;
}

/* layout: feature */
.l-feature {
  grid-column: feature;
}

/* layout: full */
.l-full {
  grid-column: full;
}
